# 가상환경
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
*.egg-info/
*.egg

# IDE / OS
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# 기타
.env
*.log
